<div class="text-end">
    <a class="btn btn-outline-dark me-2" asp-controller="Account" aps-action="Login">Login</a>
    <a class="btn btn-outline-dark me-2" asp-controller="Account" asp-action="Register">Register</a>
</div>