@model List<ApplicationCore.Models.MovieCardModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="rouded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movieCard in Model)
            {
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card mb-4">
                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movieCard.Id">
                            <img class="img-fluid" src="@movieCard.PosterUrl" alt="@movieCard.Title">
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>  